{% extends 'main.html' %}
{% block content %}
    <div class="details">
        <p style="color:rgba(245, 245, 245, 0.92); text-align: center;"><strong>RoomName</strong>   #RoomID</p>
    </div>
    <div class="chat_room">
        <div class="print_msg">
            {% for message in req_messages %}
            <div class="inner">
                <br><p id="userId">{{ message.username.capitalize()}}</p>
                <p id="msg">{{ message.message }}</p>  <p id="time_msg">{{ message.message_time|formatdatetime }}</p><br>
            </div>
            {% endfor %}
        </div>
        <form  method="post">
        {{ send_message_form.hidden_tag() }}
        <div class="send_msg">
            {{ send_message_form.message(style="width:95%; height:5%; border-radius:20px;",placeholder = "  Type your message here") }}
            {{ send_message_form.Send_message(style="position:relative;bottom:15px; height:40px;") }}
        </div>
        
        </form>
    </div>
{% endblock %}